@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-up {
  0% {
    transform: translateY(0) scale(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-20vh) scale(1);
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 2s ease-out forwards;
}
